* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}


/* Body styling */

body {
    background-image: url("/img/bg-img.jpg");
    color: #fff;
    font-family: 'Play', sans-serif;
    background-size: cover;
    line-height: 1.6em;
}


/* Navigation bar styling  */

header {
    margin-bottom: 40px;
}

nav.main-nav {
    height: 70px;
    weight: 100px;
}

nav.main-nav ul.icon {
    float: right;
    margin-right: 40px;
}

nav.main-nav ul.text {
    float: left;
    margin-right: 40px;
}

nav.main-nav li {
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

nav.main-nav a {
    color: #fff;
    font-size: 0.9rem;
    padding: 7px 10px;
}

nav.main-nav a:hover {
    text-decoration: none;
}


/* Sub menu styling */

nav.nav-sub-menu {
    height: 100px;
    weight: 100px;
}

nav.nav-sub-menu h3.heading {
    float: left;
    margin-left: 20px;
}

nav.nav-sub-menu ul li.sub-list {
    float: right;
    margin-right: 40px;
}

nav.nav-sub-menu a {
    color: #fff;
    font-size: 0.9rem;
}

nav.nav-sub-menu a:hover {
    text-decoration: none;
}

nav.nav-sub-menu ul li.active a {
    border: 0.1px solid white;
    padding: 0.5rem;
}


/* Tab styling */

div.tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: rgb(48, 44, 44, 1);
    width: 50%;
}


/* Style the buttons that are used to open the tab content */

div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: #fff;
    font-size: 0.9rem;
}


/* Create an active/current tablink class */

div.tab button.active {
    background-color: rgb(241, 72, 72);
}


/* Style the tab content */

div.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: 0.15rem solid rgb(241, 72, 72);
    background-color: rgb(225, 225, 225, 0.9);
    color: black;
    height: 25.8rem;
    width: 58rem;
}


/* Style the header content */

div.header-content {
    margin-top: 1.5rem;
}

h6.advance-search {
    color: rgb(241, 72, 72);
    text-decoration: underline;
    float: right;
    margin-right: 1rem;
}

div.buttons {
    margin-right: 1rem;
}

.form-control-lg {
    height: 3.2rem;
    width: 50rem;
}

div.adult {
    width: 10rem;
    float: right;
}

#save {
    color: #fff;
    background-color: rgb(241, 72, 72);
    width: 4rem;
    border-radius: 0.1rem;
}

#save:hover {
    text-decoration: none;
}